// Copyright (C) 2017 Alexandre Pielucha & Marie Perin
//
// Permission to use, copy, modify, and/or distribute this software for any
// purpose with or without fee is hereby granted, provided that the above
// copyright notice and this permission notice appear in all copies.
//
// THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
// WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
// MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
// ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
// WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION
// OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN
// CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.

@font-face
   font-family Lobster
   font-style normal
   src url('../fonts/LobsterTwo-Regular.ttf')

body
    background-image url('../img/fond.jpg')
    background-size cover
    background-repeat no-repeat
    background-position center center

.blur
    height 100%
    padding 50px 0
    background-color rgba(0,0,0,0.5)

h1
    margin-bottom 50px
    font-family Lobster
    font-size 8em
    color white
    text-shadow 2px 2px 5px rgba(0,0,0,0.4)

.row:nth-child(2)
    height 58vh

    .col-lg-6.separator
        border-right 1px solid white

h2
    margin 10px 0 50px
    text-align center
    text-transform uppercase
    color white
    letter-spacing 10px
    text-shadow 2px 2px 5px rgba(0,0,0,0.4)

form
    input
        display table
        margin auto
        padding 10px
        width 20vw
        outline none
        border none
        border-bottom 1px solid #E9E9E9
        box-shadow 2px 2px 5px rgba(0,0,0,0.3)

        &.is-invalid
            background-color #ECC
            border-bottom 1px solid #FA9

    button.btn
        display table
        margin auto
        margin-top 20px
        padding 10px
        width 20vw
        box-shadow 2px 2px 5px rgba(0,0,0,0.3)

form#login
    input
        &:first-child
            border-radius 5px 5px 0 0

        &:nth-child(2)
            border-radius 0 0 5px 5px
            border-bottom none

form#register
    .combined
        display table
        margin auto
        box-shadow 2px 2px 5px rgba(0,0,0,0.3)

        input
            display inline-block
            width 10vw
            box-shadow none

            &:first-child
                border-radius 5px 0 0 0
                border-right 1px solid #E9E9E9

            &:nth-child(2)
                border-radius 0 5px 0 0

    input
        &:nth-child(3)
            border-radius 0 0 5px 5px
            border-bottom none
